@use '../../assets/data/mixins.scss';

.cart--wrapper {
    position: absolute;
    top: 0;
    width: 375px;
    height: 100%;
}
.cart--button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}
.cart--button-counter {
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    @include mixins.text-small;
    font-family: 'PT Serif';
}
.cart--button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 5; 
    border: 0;
    font-size: 32px;
    background-color: mixins.$AirbeanBrown;
    color:white;
}
.cart--button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px white;
}
.cart--options-wrapper {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 72.23px;
    left: 17px;
    width: 341px;
    height: 575.06px;
    gap: 1rem;
    position: relative;
    z-index: 11;
    color: mixins.$AirbeanBrown;
}
.cart--options-pointer {
    width: 32px;
    height: 20.18px;
    position: absolute;
    top: -1.5rem;
    right: .8rem;
    border: solid 15px rgba(255, 255, 255, 0); 
    border-bottom-color: white;
    pointer-events: none;
}
.cart--headline {
    @include mixins.headline-small;
}
.cart--headline:hover {
    cursor: pointer;
    text-shadow: 0 0 5px white;
}
.cart--line {
    background-color: white;
    width: 48px;
    height: 1px;
}
.hide {
    display: none;
}
.background-faded {
    background: hsl(0 0% 0% / 0.4);
    z-index: 6;
}